.text-hold{
    position: absolute;
    background-color: #049D04;
    color: white;
    left: 10px;
    bottom: 15px;
    border-radius: 3px;
    font-weight: 500;
    padding-left: .8%;
    padding-right: .8%;
}

.Title-Card img{
    width: 300px;
    height: 200px;
    object-fit: cover;
    border-radius: 7px;
    
}

.upper-half{
        display: inline-block;
        position: relative;
}

.concertdate{
    font-size:20px;
    margin-top: 10px;
    margin-bottom: 10px;
    font-weight: 500;
    color: #9D38C3;

}

.bottom-half{
    padding-left: 10px;
    inline-size: 400px; 
}
 
.location{
    color: #727272;
}

.Title-Card {
    padding: 20px;

    /* display: flex; */
    /* overflow: hidden; */

    /*
    justify-content: flex-start; 
    flex-direction: row; */


}

.list1 {
    display: flex;
    justify-content: center;
}

.Title-Card:hover{
    background-color: rebeccapurple;
}