#container{
    display: grid;
    grid-template-columns: auto auto auto auto;
}
.card{
    margin: 5%;
    font-size: 15px;
    text-align: center;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    transition: transform .5s;
}
.card:hover{
    transform: scale(1.05);
}
#navbar{
    display: flex;
    width: 100%;
    padding-left: 10%;
}
#wrapper,
#pageBtns {
    position: relative;
    display: inline-flex;
    justify-content: center;
    width: 100%;

}

.row a{
    color: lightgrey;
    font-weight: 400;
    text-decoration: none;
    padding: 0 10px 0 10px;
  }
.divider{
    width: 400px;
}
#navbar li{
    margin-left: 25px;
}